@import 'highlight.js/styles/atom-one-dark.css';

h1{
  color: rgba(0, 0, 0, 0.88);
  font-weight: 500;
  font-size: 2.5rem;
}

h2{
  color: rgba(0, 0, 0, 0.88);
  font-weight: 500;
  font-size: 2rem;
}

h3{
  color: rgba(0, 0, 0, 0.88);
  font-weight: 500;
  font-size: 1.75rem;
}

h4{
  color: rgba(0, 0, 0, 0.88);
  font-weight: 500;
  font-size: 1.5rem;
}

h5{
  color: rgba(0, 0, 0, 0.88);
  font-weight: 500;
  font-size: 1.25rem;
}

h6{
  color: rgba(0, 0, 0, 0.88);
  font-weight: 500;
  font-size: 1rem;
}

p{
  color: rgba(0, 0, 0, 0.88);
  font-weight: 400;
  font-size: 1rem;
}

pre{
  float: left;
  margin: 20px;
}

.component-list{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 20px;
  gap: 12px;
}
